svg(width='14', height='14', fill='none', xmlns='http://www.w3.org/2000/svg')
  path(fill-rule='evenodd', clip-rule='evenodd', d='M14 14h-2.8V9.1c0-1.343-.593-2.093-1.656-2.093-1.157 0-1.844.781-1.844 2.094V14H4.9V4.9h2.8v1.023s.879-1.541 2.858-1.541C12.538 4.382 14 5.59 14 8.091V14zM1.71 3.445A1.716 1.716 0 0 1 0 1.722 1.716 1.716 0 0 1 1.71 0a1.716 1.716 0 0 1 1.708 1.722A1.715 1.715 0 0 1 1.71 3.445zM0 14h3.5V4.9H0V14z')
