svg(width='9', height='17', fill='none', xmlns='http://www.w3.org/2000/svg')
  path(fill-rule='evenodd', clip-rule='evenodd', d='M6.139 17V9.35h2.46L9 5.95H6.139V4.294c0-.875.024-1.744 1.32-1.744H8.77V.119C8.77.082 7.643 0 6.502 0c-2.38 0-3.87 1.408-3.87 3.995V5.95H0v3.4h2.63V17H6.14z')
