.icons
  - for (var i = 0; i < 2; i++)
    include svg/icon-wallet.pug
  - for (var i = 0; i < 2; i++)
    include svg/icon-stamp.pug
  - for (var i = 0; i < 2; i++)
    include svg/icon-circleStat.pug
  - for (var i = 0; i < 2; i++)
    include svg/icon-statUp.pug
  - for (var i = 0; i < 3; i++)
    include svg/icon-organize.pug
  - for (var i = 0; i < 2; i++)
    include svg/icon-files.pug
  - for (var i = 0; i < 4; i++)
    include svg/icon-card.pug
  - for (var i = 0; i < 2; i++)
    include svg/icon-coins.pug
  - for (var i = 0; i < 3; i++)
    include svg/icon-notes.pug
  - for (var i = 0; i < 1; i++)
    include svg/icon-certificate.pug
  - for (var i = 0; i < 4; i++)
    include svg/icon-calc.pug

  //- .icons__wallet
  //-   - for (var i = 0; i < 2; i++)
  //-     include svg/icon-wallet.pug
  //- .icons__stamp
  //-   - for (var i = 0; i < 2; i++)
  //-     include svg/icon-stamp.pug
  //- .icons__circleStat
  //-   - for (var i = 0; i < 2; i++)
  //-     include svg/icon-circleStat.pug
  //- .icons__statUp
  //-   - for (var i = 0; i < 2; i++)
  //-     include svg/icon-statUp.pug
  //- .icons__organize
  //-   - for (var i = 0; i < 3; i++)
  //-     include svg/icon-organize.pug
  //- .icons__files
  //-   - for (var i = 0; i < 2; i++)
  //-     include svg/icon-files.pug
  //- .icons__card
  //-   - for (var i = 0; i < 4; i++)
  //-     include svg/icon-card.pug
  //- .icons__coins
  //-   - for (var i = 0; i < 2; i++)
  //-     include svg/icon-coins.pug
  //- .icons__notes
  //-   - for (var i = 0; i < 3; i++)
  //-     include svg/icon-notes.pug
  //- .icons__certificate
  //-   - for (var i = 0; i < 1; i++)
  //-     include svg/icon-certificate.pug
  //- .icons__calc
  //-   - for (var i = 0; i < 4; i++)
  //-     include svg/icon-calc.pug
