.login-form
  h2.login-form__title
    | Login
  p.login-form__subtitle
    | This is a secure system and you will need
    | to provide your login details to access the site
  form.form
    input(type="text" placeholder="User name").form__input
    input(type="password" placeholder="Password").form__input
    a(href="#").form__forgot
      | Forgot password?
    input(type="submit" value="Log in").form__btn
