.social
  a.social__link(href="https://facebook.com")
    include icon-facebook
  a.social__link(href="https://twitter.com")
    include icon-twitter
  a.social__link(href="https://linkedin.com")
    include icon-linkedin
