<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Test page for HR
  body
    .wrapper
      header.header
        include pug/logo.pug
        h1.header__title
          | Welcome to The Nike Analytics
        p.header__subtitle
          | To request an account, please contact
          | the site administrators
        .header__wrapper
          a.header__phone(href="tel:+245041660355")
            | +245 04 166 0355
          a.header__phone(href="tel:+347423902456")
            | +347 42 390 2456
        include pug/social.pug
      include pug/login-form.pug

