@keyframes scaling {
  from {
    transform: scale(1) rotateY(360deg);
  }
  50% {
    transform: scale(1.15) rotateY(360deg);
  }
  75% {
    transform: scale(1.15) rotateY(180deg);
  }
  to {
    transform: scale(1) rotateY(180deg);
  }
}

@keyframes scalingDown {
  from {
    transform: scale(1) rotateY(180deg);
  }
  50% {
    transform: scale(1.15) rotateY(180deg);
  }
  75% {
    transform: scale(1.15) rotateY(360deg);
  }
  to {
    transform: scale(1) rotateY(360deg);
  }
}

//animations for icons
@keyframes iconScale {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  75% {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
