.social {
  @include screen-style(phone) {
    text-align: center;
    margin-bottom: 4vmin;
  };
}
.social__link {
  margin: 0 7px;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
  svg {
    path {
      fill: $colorDark;
    }
  }
}

