@import url('https://fonts.googleapis.com/css?family=Montserrat');
$font-fallback: system,
                -apple-system,
                '.SFNSText-Regular',
                'San Francisco',
                'Roboto',
                'Segoe UI',
                'Helvetica Neue',
                'Lucida Grande',
                sans-serif;

$fontMontserat: 'Montserrat', $font-fallback;

$colorRed: #DD3C39;
$colorOrange: #F5A623;
$colorGrey: #F4F4F4;
$colorLightGrey: #E0E0E0;
$colorDark: #2B2B2B;

$borderRadius: 5px;

$phone: 319px;
$tablet: 800px;
