svg(width='57', height='52', fill='none', xmlns='http://www.w3.org/2000/svg')
  path(clip-rule='evenodd', d='M35.36 8.92l-4.32 3.14a2.31 2.31 0 0 0-.5 3.2l14.21 19.57a2.31 2.31 0 0 0 3.2.51l4.32-3.14', stroke='#000')
  path(clip-rule='evenodd', d='M52.98 33.18L34.52 7.76l2.53-1.84L55.5 31.34l-2.53 1.84zM31.03 15.95a7.07 7.07 0 0 1-1.57 9.86 27.73 27.73 0 0 1-10.87 4.4 7.84 7.84 0 1 0 8.27 11.38 27.73 27.73 0 0 1 7.53-8.98 7.07 7.07 0 0 1 9.88 1.56M23.17 9.58a9.76 9.76 0 1 0-15.8 11.47 9.76 9.76 0 0 0 15.8-11.47zM14.19 20.1l-3.79-5.22zM20.16 15.76l-3.8-5.21zM18.89 20.3l-7.22-9.95z', stroke='#000')
