svg(width='37', height='39', fill='none', xmlns='http://www.w3.org/2000/svg')
  path(clip-rule='evenodd', d='M24.4 3.93l6.7 4.88-2.93 4.03-6.7-4.88 2.92-4.03zM25.47 4.72A2.81 2.81 0 0 1 30 8.02M9.12 22.7l1.62-2.22zM11.33 24.3l3.73-5.13zM13.54 25.91l3.03-4.17zM15.75 27.52l5.09-7zM17.96 29.12l4.27-5.87z', stroke='#000')
  path(clip-rule='evenodd', d='M30.44 9.7l4.04 2.94a2 2 0 0 1 .45 2.8L19.97 36a2 2 0 0 1-2.8.45L2.39 25.7a2 2 0 0 1-.44-2.8L16.89 2.33a2 2 0 0 1 2.8-.44l4.04 2.94', stroke='#000')
  path(clip-rule='evenodd', d='M29.16 11.46l3.72 2.7a.5.5 0 0 1 .1.7L18.85 34.36a.5.5 0 0 1-.7.1L4 24.19a.5.5 0 0 1-.12-.7L18.04 4a.5.5 0 0 1 .7-.1l3.72 2.7', stroke='#000')
