svg(width='52', height='57', fill='none', xmlns='http://www.w3.org/2000/svg')
  path(clip-rule='evenodd', d='M18.86 13.46a19.02 19.02 0 1 0 24.76 10.51L25.98 31.1l-7.12-17.64z', stroke='#000')
  path(clip-rule='evenodd', d='M21.22 7.9l7.13 17.64 17.63-7.13A19.02 19.02 0 0 0 21.22 7.9zM22.65 11.44l1.93-4.55zM24.46 15.92l4-9.4zM26.27 20.4l5.75-13.53zM28.08 24.89l7.24-17.05zM32.18 23.99l6.21-14.64zM36.69 22.14l4.5-10.63zM41.16 20.34l2.56-6.04z', stroke='#000')
