svg(width='43', height='43', fill='none', xmlns='http://www.w3.org/2000/svg')
  path(clip-rule='evenodd', d='M41.56 10.5l-10.1 31.06L.4 31.46', stroke='#000')
  path(clip-rule='evenodd', d='M26.96 36.1l1.47-4.5 2.46.8-1.47 4.5-2.46-.8zM25.98 28.31l1.46-4.5 5.64 1.83-1.46 4.5-5.64-1.83zM24.34 20.3l1.47-4.5 9.47 3.08-1.46 4.5-9.48-3.07zM22.6 12.27l1.47-4.5 13.4 4.35-1.46 4.5-13.4-4.35zM23.16 35.67l-7.28-31.3zM13.35 8.44l2.53-4.07 4.07 2.54', stroke='#000')
