svg(width='38', height='46', fill='none', xmlns='http://www.w3.org/2000/svg')
  path(clip-rule='evenodd', d='M3.64 25.6l-.59-.47a1.95 1.95 0 0 1-.29-2.74l15.6-19.27c.68-.84 1.91-.97 2.75-.29l13.86 11.23c.84.68.97 1.9.3 2.74l-.49.6', stroke='#000')
  path(clip-rule='evenodd', d='M4.04 29.43l-.59-.47a1.95 1.95 0 0 1-.29-2.75L18.77 6.94c.68-.84 1.9-.97 2.75-.3l13.86 11.24c.84.67.97 1.9.3 2.74l-3.7 4.55', stroke='#000')
  path(clip-rule='evenodd', d='M20.32 43.87c-.6.74-1.7.85-2.44.26l-14.2-11.5c-.73-.6-.85-1.7-.25-2.44L19.3 10.6c.6-.74 1.7-.85 2.44-.26L31.21 18l1.15 10.97-12.04 14.9z', stroke='#000')
  path(clip-rule='evenodd', d='M13.02 35.61a7.7 7.7 0 1 0 9.7-11.97 7.7 7.7 0 0 0-9.7 11.97z', stroke='#000')
  path(clip-rule='evenodd', d='M21.45 25.2l-3.58 4.42L22 32.97M20.44 14.24l5.01 4.06zM19.04 15.97l5.01 4.06z', stroke='#000')
  path(clip-rule='evenodd', d='M31.2 18l-4.91 6.07L32.36 29', stroke='#000', stroke-linejoin='round')
