svg(width='29', height='21', fill='none', xmlns='http://www.w3.org/2000/svg')
  path(clip-rule='evenodd', d='M5.5 7.87a2.29 2.29 0 0 1 2.21-2.36l17.77-.63a2.29 2.29 0 0 1 2.36 2.21l.36 10.1a2.29 2.29 0 0 1-2.21 2.37l-17.77.62a2.29 2.29 0 0 1-2.36-2.21L5.5 7.87z', stroke='#000')
  path(clip-rule='evenodd', d='M3.85 16.42a1.95 1.95 0 0 1-2.01-1.9L1.46 3.76a1.95 1.95 0 0 1 1.88-2.02l18.46-.64c1.08-.04 1.98.8 2.01 1.88M18.39 14.93c-.04-1.08.81-2 1.9-2.03l2.86-.1a1.97 1.97 0 1 1 .14 3.93l-2.87.1c-1.08.04-2-.8-2.03-1.9zM7.53 10.43L26 9.78z', stroke='#000')
