svg(width='45', height='44', fill='none', xmlns='http://www.w3.org/2000/svg')
  path(clip-rule='evenodd', d='M43.13 8.48a.5.5 0 0 1 .4.59L41.8 17.9a.5.5 0 0 1-.59.4L5.88 11.44a.5.5 0 0 1-.4-.6L7.2 2.02a.5.5 0 0 1 .59-.4l35.34 6.87z', stroke='#000')
  path(clip-rule='evenodd', d='M35.72 12.14a2.16 2.16 0 1 0 4.24.82 2.16 2.16 0 0 0-4.24-.82zM13.2 4.79l-1.11 5.73zM10.86 4.33l-1.12 5.73zM40.77 20.66a.5.5 0 0 1 .4.59l-1.73 8.84a.5.5 0 0 1-.58.4L3.5 23.62a.5.5 0 0 1-.4-.6l1.72-8.83a.5.5 0 0 1 .59-.4l35.35 6.87z', stroke='#000')
  path(clip-rule='evenodd', d='M33.35 24.32a2.16 2.16 0 1 0 4.24.82 2.16 2.16 0 0 0-4.24-.82zM10.83 16.97L9.72 22.7zM8.49 16.51l-1.11 5.73zM38.4 32.84a.5.5 0 0 1 .4.59l-1.72 8.84a.5.5 0 0 1-.6.4L1.15 35.8a.5.5 0 0 1-.4-.6l1.73-8.83a.5.5 0 0 1 .58-.4l35.35 6.87z', stroke='#000')
  path(clip-rule='evenodd', d='M30.99 36.5a2.16 2.16 0 1 0 4.24.82 2.16 2.16 0 0 0-4.24-.82zM8.47 29.15l-1.12 5.73zM6.12 28.7l-1.11 5.72z', stroke='#000')
